openapi: 3.1.0
info:
  title: NexSift Publisher
  version: 1.1.0
  description: Publishes validated pt-BR NexSift posts and lists recently published signals.
servers:
  - url: https://bjzzyv6zrgxdqupkvwnepfzday0lwdiz.lambda-url.us-east-1.on.aws/
paths:
  /:
    get:
      operationId: listRecentPosts
      summary: List the most recently published posts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Recent posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostSummary'
        '401':
          description: Invalid publication token
    post:
      operationId: publishPost
      summary: Publish an approved NexSift post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [post]
              properties:
                post:
                  $ref: '#/components/schemas/PostDraft'
      responses:
        '201':
          description: Post published
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  slug:
                    type: string
                  publishedAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          description: Invalid publication token
        '422':
          description: Invalid post payload
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    PostDraft:
      type: object
      required:
        - title
        - description
        - content
        - whyItMatters
        - topics
        - sources
        - relevanceScore
      properties:
        type:
          type: string
          enum: [daily-briefing, article]
          default: article
        slug:
          type: string
          description: Stable slug; re-publishing the same slug updates the post.
        title:
          type: string
          minLength: 8
          maxLength: 140
        description:
          type: string
          minLength: 30
          maxLength: 260
        content:
          type: string
          minLength: 100
          description: Markdown content in pt-BR.
        whyItMatters:
          type: string
          minLength: 30
          maxLength: 800
        topics:
          type: array
          minItems: 1
          maxItems: 3
          items:
            type: string
            enum: [ai, cloud, development, devops, career, finance]
        tags:
          type: array
          maxItems: 10
          items:
            type: string
          default: []
        sources:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PostSource'
        relevanceScore:
          type: number
          minimum: 0
          maximum: 10
        featured:
          type: boolean
    PostSource:
      type: object
      required: [title, publisher, url]
      properties:
        title:
          type: string
        publisher:
          type: string
        url:
          type: string
          format: uri
        publishedAt:
          type: string
          format: date-time
    PostSummary:
      type: object
      required:
        - id
        - type
        - slug
        - title
        - description
        - topics
        - tags
        - publishedAt
        - readingTime
        - relevanceScore
        - locale
      properties:
        id:
          type: string
        type:
          type: string
          enum: [daily-briefing, article]
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        topics:
          type: array
          items:
            type: string
            enum: [ai, cloud, development, devops, career, finance]
        tags:
          type: array
          items:
            type: string
        publishedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        readingTime:
          type: integer
        relevanceScore:
          type: number
        locale:
          type: string
        featured:
          type: boolean
